/.vscode
/airthmetic.cpp
/arry.cpp
/calculate.cpp
/fibonacci_2.cpp
/lect_1 4.cpp
/lect_12.cpp
/lect_13.cpp
/lect_14.cpp
/lect_14_struct.cpp
/lect_15.cpp
/lect_16.cpp
/lect_16_2.cpp
/lect_17.cpp
/lect_17_2.cpp
/lect_18.cpp
/lect_18_2.cpp
/lect_18_3.cpp
/lect_19.cpp
/lect_20.cpp
/lect_21.cpp
/lect_22.cpp
/lect_23.cpp
/lect_24.cpp
/lect_8.cpp
/lect_9_2.cpp
/lect_a.cpp
/lec_10.cpp
/lec_10_2.cpp
/lec_11.cpp
/lec_12_2.cpp
/lec_7.cpp
/lec_7_2.cpp
/lec_7_3.cpp
/lec_8_2.cpp
/local.cpp
/logic.cpp
/Notes_c++
/note_1.cpp